<%- include('../partials/header', {title: 'Your account'}) %>

<main class="main">
    <div class="user-view">
        <%- include("./nav")%>
        <div class="user-view__content">
            <div class="user-view__form-container">
                <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                <form class="form form-user-data" action="/users/me?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form__group">
                        <label class="form__label" for="name">Name</label>
                        <input class="form__input" id="name" type="text" value="<%= user.name%>" required name="name">
                    </div>
                    <div class="form__group ma-bt-md">
                        <label class="form__label" for="email">Email address</label>
                        <input class="form__input" id="email" type="email" value="<%= user.email%>" required name="email">
                    </div>
                    <div class="form__group form__photo-upload">
                        <img class="form__user-photo" src="/img/users/<%= user.photo%>" alt="User photo">
                        <input class="form__upload" type="file" accept="image/*" id="photo" name="photo">
                        <label for="photo">Choose new photo</label>
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green">Save settings</button>
                    </div>
                </form>
            </div>
            <div class="line">&nbsp;</div>
            <div class="user-view__form-container">
                <h2 class="heading-secondary ma-bt-md">Password change</h2>
                <form class="form form-user-password" action="/users/updatepassword?_method=PUT" method="POST">
                    <div class="form__group">
                        <label class="form__label" for="password-current">Current password</label>
                        <input class="form__input" id="password-current" name="oldpassword" type="password" placeholder="••••••••" required minlength="6">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="password">New password</label>
                        <input class="form__input" id="password" name="password" type="password" placeholder="••••••••" required minlength="6">
                    </div>
                    <div class="form__group ma-bt-lg">
                        <label class="form__label" for="password-confirm">Confirm password</label>
                        <input class="form__input" id="password-confirm" name="passwordConfirm" type="password" placeholder="••••••••" required minlength="6">
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green btn--save-password">Save password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>